
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
* body{
    background-size:cover;
    display: flex;
    flex-direction: column;
}
#header{
    height: 35px;
    background: #d3d3dd;
}
#particulier{
    background: #ff1493;;
    text-decoration: none;
}
#particulier:hover{
    background: #ff1493;
    color:#87cefa;
    
}

#entreprise{
    text-decoration: none;
}
#entreprise:hover{
        background: #ff1493;
    color: #FFF;
    
}
#portail{
    text-decoration: none;
}
#portail:hover{
    background: #ff1493;
    color:#FFF;
}
#fb{
    text-decoration: none;
}
#tw{
    text-decoration: none;
}
#you{
    text-decoration: none;
}
#bloc1{
    float: right;
}


.menu-bar{
    background: white;
    text-align: center;

}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: rgb(160, 44, 44);

}
.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a {
    text-decoration: none;
    color:blue;

}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1 
{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;}
.menu-bar ul li:hover .sub-menu-1 ul li
    {
        width: 150px;
        padding: 10px;
        background: transparent;
    }
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
    {
        border-bottom: :none;
    }
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
    {
        color: blue;
    }
    .sub-menu-1 ul{
        display: none;
    }

    .images{
        display: flex;
    }
    .images img {
        width: 700px;
        height: 400px;
    }
    .p{
        text-align: center;
        
    }
    .slides {
        padding: 0;
        width: 900px;
        height: 420px;
        display: block;
        margin: 0 auto;
        position: relative;
    }
    
    .slides * {
        -moz-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
    
    .slides input { display: none; }
    
    .slide-container { display: block; }
    
    .slide {
        top: 0;
        opacity: 0;
        width: 900px;
        height: 420px;
        display: block;
        position: absolute;
    
        transform: scale(0);
    
        transition: all .7s ease-in-out;
    }
    
    .slide img {
        width: 100%;
        height: 80%;
    }
    
    .nav label {
        width: 200px;
        height: 100%;
        display: none;
        position: absolute;
    
          opacity: 0;
        z-index: 9;
        cursor: pointer;
    
        transition: opacity .2s;
    
        color: #FFF;
        font-size: 156pt;
        text-align: center;
        line-height: 380px;
        font-family: "Varela Round", sans-serif;
        background-color: rgba(255, 255, 255, .3);
        text-shadow: 0px 0px 15px rgb(119, 119, 119);
    }
    
    .slide:hover + .nav label { opacity: 0.5; }
    
    .nav label:hover { opacity: 1; }
    
    .nav .next { right: 0; }
    
    input:checked + .slide-container  .slide {
        opacity: 1;
    
        transform: scale(1);
    
        transition: opacity 1s ease-in-out;
    }
    
    input:checked + .slide-container .nav label { display: block; }
    
    .nav-dots {
        width: 100%;
        bottom: 9px;
        height: 11px;
        display: block;
        position: absolute;
        text-align: center;
    }
    
    .nav-dots .nav-dot {
        top: -5px;
        width: 11px;
        height: 11px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .nav-dots .nav-dot:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    input#img-1:checked ~ .nav-dots label#img-dot-1,
    input#img-2:checked ~ .nav-dots label#img-dot-2,
    input#img-3:checked ~ .nav-dots label#img-dot-3,
    input#img-4:checked ~ .nav-dots label#img-dot-4,
    {
        background: rgba(0, 0, 0, 0.8);
    }
    .card{ 
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-flow:wrap ;
    }
    .box{
        width: 200px;
        height: auto;
        margin: 20px;
    }
    #livraison{
        text-decoration: none;
        
    }
    #livraison:hover{
        color: #ff1493;}
        #paiement{
            text-decoration: none;
        }
        #paiement:hover{
            color: #ff1493;}
            #securite{
                text-decoration: none;
            }
            #securite:hover{
                color: #ff1493;}
                #card{
                    height: 50px;
                    background:#d3d3dd ;
                }
    #cond{
        text-decoration: none;
        color: gray;
    }
    #cond:hover{
        color: #8f00ff;
    }
    #ass:hover{
        color: #8f00ff;
    }
    #sec:hover{
        color: #8f00ff;
    }
    #ass{
        text-decoration: none;
        color: gray;
    }
    #sec{
        text-decoration: none;
        color: gray;
    }